<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBePjwEsglHBerEwjHveb0H2lLYhpFL9Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>1061678945651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.saqibloginapp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-4500a</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-4500a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061678945651:ios:48b25b5b0cf9db365ca106</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp-4500a-default-rtdb.firebaseio.com</string>
</dict>
</plist>