<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096677576518-3vnd9ks844agvmd6nuvvudlev6ibggu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096677576518-3vnd9ks844agvmd6nuvvudlev6ibggu8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096677576518-tk7bpih1i2nr6f96qd9q9clcla6c6l5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAEBFP4MGgOLtx1ixtEr4f4hG3Bldkeq5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1096677576518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.cashsaver</string>
	<key>PROJECT_ID</key>
	<string>mycashsaver-dd9a3</string>
	<key>STORAGE_BUCKET</key>
	<string>mycashsaver-dd9a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096677576518:ios:7493141eeab54e9c18df47</string>
</dict>
</plist>